<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Elijah Pamintuan</h1>
		<p>I'm an otaku person. I love animes and stuff. I even go to conventions with my friends and have a lot fun.</p>
		<p>I also do streams on weekends because I love playing "Monster Hunter world". Sommtimes I also party up with my friends in Dota2. In short, I have a heart of a gamer.</p>


	</div>
</div>